body{
  padding: 20px;
}

#coin {
    margin:20px auto 80px auto;
}

#main {
    margin:auto;
    padding:20px;
    border-style:solid;
    border-color: #777777;
    background-color: antiquewhite;
    width:450px;
}